<!doctype html>
<html lang="en">
  <head>
  	<title>Flask Foot Pred</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={{ url_for("static", filename ="css/style.css")}}>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
        {% if current_user.is_authenticated %}
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(static/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(static/images/logo.png);"></div>
	  				<h3>{{current_user.pseudo}}</h3>
	  			</div>
	  		</div>
        {% else %}
	  		<div class="img bg-wrap text-center py-4 opac-im" style="background-image: url(static/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img opac-im" style="background-image: url(static/images/logo.png);"></div>
	  				<a href="{{ url_for('auth.login') }}" class="page-link">Log In</a>
	  			</div>
	  		</div>
        {% endif %}
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="{{ url_for('main.index') }}"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="{{ url_for('main.about') }}"><span class="fa fa-support mr-3"></span> About</a>
          </li>
          <li>
            <a href="{{ url_for('main.topbet') }}"><span class="fa fa-trophy mr-3"></span> Top Bet</a>
          </li>
          {% if current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('auth.logout') }}"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
          {% endif %}
        </ul>
    	</nav>

        <!-- Page Content  -->
        {% block content %}
        {% endblock %}

		</div>

    <script src={{ url_for("static", filename ="js/jquery.min.js")}}></script>
    <script src={{ url_for("static", filename ="js/popper.js")}}></script>
    <script src={{ url_for("static", filename ="js/bootstrap.min.js")}}></script>
    <script src={{ url_for("static", filename ="js/main.js")}}></script>
  </body>
</html>