{% extends "base.html" %}

{% block content %}
<div id="content" class="p-4 p-md-5 pt-5">
    <div class="row text-center pt-3">
      <div class="col-lg-8 m-auto">
          <h1 class="h1">Bienvenu!</h1>
          <p>Gagner facilement de grandes quantités d’argent depuis votre canapé, c’est possible ! 
            Grace à notre intelligence artificielle créé rapidement qui prédit les résultats d’un 
            sport profondément humain par nature : le football ! Et quoi de plus humain que l’erreur ? 
            Faire des erreurs en voulant gagner de l’argent bien sûr, alors foncez.</p>
      </div>
    </div>

    
    {% if Upcoming_matches == [] %}
    <h4 class="mb-4 mt-5">Nous n'avons pas trouvé de matches prévus!</h4>
    {% endif %}

    {% for matches in Upcoming_matches %}
    <li class="list-group-item">
      {{ Upcoming_matches.name }}
    </li>
    {% endfor %}
    
</div>
{% endblock %}