{% extends "base.html" %}

{% block content %}
<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Bienvenu!</h2>
    <p>Gagner facilement de grandes quantités d’argent depuis votre canapé, c’est possible ! 
      Grace à notre intelligence artificielle créé rapidement qui prédit les résultats d’un 
      sport profondément humain par nature : le football ! Et quoi de plus humain que l’erreur ? 
      Faire des erreurs en voulant gagner de l’argent bien sûr, alors foncez.</p>

    
    <h4 class="mb-4 mt-5">Choisissez un match:</h4>

    <select class="form-select" multiple aria-label="multiple select example" name="match">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    </select>

    <button type="button" class="btn btn-primary">Lancer la prediction</button>
    
    </div>
{% endblock %}